@import "compass_twitter_bootstrap";
// @import "flat-ui.scss";

@import "prettify.scss";
@import "custom.scss";

html, html a {
    -webkit-font-smoothing: antialiased !important;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}